on:

  push:

    branches:

      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout this repo

        uses: actions/checkout@v4

      - name: Cache dependencies

        uses: actions/cache@v4

        with:

          path: ~/.m2/repository

          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

          restore-keys: ${{ runner.os }}-maven-

      - name: Set up JDK 17

        uses: actions/setup-java@v4

        with:

          distribution: "zulu"

          java-version: 17

      # - name: Build JAR

      #   run: mvn clean package -DmuleDeploy

      - name: Publish to Exchange

        run: |

          mvn deploy --settings .settings/settings.xml -DskipMunitTests \

          -Danypoint.username="JahnaviJan" \

          -Danypoint.password="Jahnavi@2002"


  deploydev:

    needs: build  

    runs-on: ubuntu-latest

    environment: dev

    steps:

      - name: Checkout this repo

        uses: actions/checkout@v3

      - name: Cache dependencies

        uses: actions/cache@v3

        with:

          path: ~/.m2/repository

          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

          restore-keys: |

            ${{ runner.os }}-maven-

      - name: Deploy to dev

        run: |

          mvn deploy --settings .settings/settings.xml -DskipMunitTests -DmuleDeploy \

          -Danypoint.username="JahnaviJan" \

          -Danypoint.password="Jahnavi@2002" \

          -Danypoint.businessGroup="fdb7171e-1a77-43bd-a4f2-4a075311b63b" \

          -Denv="Dev" \

          -Dappname="orderdetails-cicd" 
 
